<!DOCTYPE html>
<html>
<head>
    <title>All Messages</title>
</head>
<body>

    <h1>All Submitted Messages</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go Back</a>

</body>
</html>
